# Gmail: use an app password (myaccount.google.com/apppasswords, needs 2-step verification)
GMAIL_USER=you@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
# Google Calendar > Settings > your calendar > "Secret address in iCal format"
ICAL_URL=https://calendar.google.com/calendar/ical/.../basic.ics
ELEVENLABS_API_KEY=
READER_NAME=Sam
# comma separated; "top" = front-page headlines
INTERESTS=top,technology
# optional
# SEND_TO=friend@gmail.com
# MODEL=gemma4:e4b
# VOICE_ID=JBFqnCBsd6RMkjVDRZzb
